body {
    margin: 0;
  }
  
  ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  ul.topnav li {
    float: left;
  }
  
  ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  ul.topnav li a:hover:not(.active) {
    background-color: #111;
  }
  
  ul.topnav li a.active {
    background-color: #333;
  }
  
  ul.topnav li.right {
    float: right;
  }
  
  @media screen and (max-width: 600px) {
    ul.topnav li.right, ul.topnav li {
      float: none;
    }
  }

body {
    font-family: sans-serif;
}

#macbook2 {
  position: absolute;
  left: 60px;
  top: 100px;
  animation: slide 1s linear;
  animation-fill-mode: forwards;
}

@keyframes slide {
  0% { left:-1000px; top: 100px;}
  100% {left: 60px; top: 100px;}
}

#hoved {
  right: 14%;
  position: absolute;
  top: 15%;
  font-size: 45px;

}

#top {
  background-color: white;
  height: 110vh;
}

#mid {
  height: 80vh;
  background-color: black;
}

#tekst {
  right: 5%;
  position: absolute;
  top: 35%;
}

#skjerm {
  right: 35%;
  top: 28%;
  position: absolute;
}

#prosessor {
  right: 32%;
  top: 48%;
  position: absolute;
}

#tekst2 {
  right: 2%;
  position: absolute;
  top: 55%;
}

#batteri {
  right: 27%;
  position: absolute;
  top: 73%;
}

#liste {
  right: 14%;
  position: absolute;
  top: 80%;
}

