body {
    margin: 0;
  }
  
  ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  ul.topnav li {
    float: left;
  }
  
  ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  ul.topnav li a:hover:not(.active) {
    background-color: #111;
  }
  
  ul.topnav li a.active {
    background-color: #333;
  }
  
  ul.topnav li.right {
    float: right;
  }
  
  @media screen and (max-width: 600px) {
    ul.topnav li.right, ul.topnav li {
      float: none;
    }
  }

body {
    font-family: sans-serif;
}

h1 {
  position: absolute;
  left: 41%;
}

h2 {
  position: absolute;
  left: 44%;
  top: 15%;
  color: red;
}


#Alle {
  position: absolute;
  width: 60%;
  top: 22%;
  left: 18%;
}

#Sort {
  position: absolute;
  width: 20%;
  right: 5%;
  top: 105%;
}

#større {
  font-size: 50px;
  position: absolute;
  left: 5%;
  top: 100%;
}

#mindre {
  font-size: 30px;
  position: absolute;
  top: 120%;
  left: 7%;
}


#colors {
  position: absolute;
  top: 150%;
  width: 80%;
  left: 8%;
}